@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-bg: #e0e5eb;
    --gradient: linear-gradient(90deg,#a894e6,#7e77ee);
    --grey: #f0f0f0;
    --light: #fff;
    --light-purple: #7e77ee;
    --transition: all 0.3s  ease-in-out;
    font-family: 'Rubik', sans-serif;
    background: var(--color-bg);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile__container{
    width: 350px;
    height: 730px;
    background: var(--light);
    border-radius: 20px;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.4);
    display: grid;
    grid-template-rows: 48px 1fr 62px;
}
.mobile__header, .mobile__footer {
    align-self: center;
    justify-self: center;
}
.mobile__content {
}
.selectbox {
    width: 150px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 20px;
    cursor: pointer;
}
.selectbox__selected {
    font-size: 18px;
    font-weight: 500;
    position: relative;
    z-index: 2;
    background-color: var(--light);
    display: flex;
    align-items: center;
    justify-content: center;

}
.selectbox.open .ic_arrow{
    transform: rotate(-180deg);
}
.ic_arrow{
    display: inline-block;
    font-size: 0.7rem;
    margin-left: 10px;
    transform: rotate(0deg);
    transition: var(--transition);
}
.selectbox.open .selectbox__list{
    top: 120%;
    max-height: 200px;
}
.selectbox__list {
    position: absolute;
    top: 0;
    left: -12px;
    right: -12px;
    padding: 8px 12px;
    max-height: 0;
    overflow: hidden;
    border-radius: 3px;
    background-color: var(--light);
    transition: var(--transition);
    z-index: 1;
}
.selectbox__item {
    cursor: pointer;
    
}
.selectbox__item.selected,
.selectbox__item:hover{
    color: var(--light-purple);
    font-weight: 600;
}
.selectbox__item:not(:last-child){
    margin-bottom: 4px;
}

.mobile__rooms {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 15px;
    justify-content: center;
    align-items: center;
    gap: 14px;
}
.mobile__room {
    display: grid;
    grid-template-rows: 130px 50px;
    align-content: center;
    text-align: center;
    background-color: var(--grey);
    border-radius: 12px;
    cursor: pointer;
}
.mobile__room i {
    align-self: center;
    font-size: 5rem;
    opacity: 0.7;
}

.mobile__room.selected {
    background: var(--gradient);
    color: var(--light);
    opacity: 1;
}

.settings{
    display: none;
    padding: 0 15px;
}
.settings__tabs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 95px;
    gap: 15px;
}
.tab {
    padding-top: 10px;
    display: grid;
    grid-template-rows: 2fr 1fr;
    align-content: center;
    text-align: center;
    font-size: 12px;
    background-color: var(--grey);
    border-radius: 12px;
    cursor: pointer;
}
.tab.selected {
    background: var(--gradient);
    color: var(--light);
    opacity: 1;
}
.tab i {
    align-self: center;
    font-size: 3rem;
    opacity: 0.7;
}
.settings__screen{
    display: none;
}
.settings__screen.selected{
    display: block;
}
.settings__screen-title{
    text-align: center;
    margin: 20px 0 15px;
    font-weight: 500;
}
.settings__screen-icon{
    text-align: center;
    font-size: 30px;
    color: #666;
    margin-bottom: 15px;
}
.temperature-button {
    width: 240px;
    height: 240px;
    margin: 0 auto;
    display: grid;
    align-items: center;
    justify-items: center;
    position: relative;
    cursor: pointer;
}
.temperature-button__info{
    position: relative;
    font-size: 32px;
    width: 70%;
    height: 70%;
    border-radius: 70%;
    background-color: var(--light);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3) ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.temperature-button__info::before{
    content: '';
    display: block;
    position: absolute;
    left: 4%;
    right: 4%;
    top:4% ;
    bottom: 4%;
    border-radius: 100%;
    border: 1px solid #000;
    opacity: 0.3;
}
.dots-box {
    transform: rotate(5deg);
    transform-origin: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.dots, .line, .line-active, .round, .separate-dots, .separate-lines {
    fill: transparent;
    stroke: var(--grey);
    stroke-width: 3px;
    stroke-linecap: round;
    stroke-dasharray: 0 21;
}
.line, .line-active, .round{
    stroke-width: 1px;
    stroke-dasharray: 276 276;
    transform: rotate(48deg);
    transform-origin: center ;
}
.line-active {
    stroke: black;
    stroke-dasharray: 54 276; /*from 54 to 276*/
}
.round{
    stroke-width: 6px;
    stroke-dasharray: 0 276;
    transform: rotate(-240deg); /*from -240 to 48*/
}
.separate-dots, .separate-lines{
    stroke: white;
    transform: rotate(60deg);
    transform-origin: center;
}
.separate-dots{
    stroke-dasharray: 40 313;
}
.separate-lines{
    transform: rotate(49deg);
    stroke-dasharray: 53 276;
}
.power{
    background: var(--gradient);
    color: var(--light);
    width: 44px;
    height: 44px;
    border-radius: 44px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2px;
    margin: auto;
    cursor: pointer;
}
.power.off {
    background: var(--grey);
}
.power-label{
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 300;
}
.set-button{
    background:var(--gradient);
    color: var(--light);
    width: 250px;
    margin: 15px auto 0;
    border-radius: 100px;
    text-align: center;
    padding: 16px;
    cursor: pointer;
}
.slider {
    cursor: pointer;
    width: 100px;
    height: 250px;
    margin: auto;
    background-color: var(--grey);
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    
}
.slider__progress {
    pointer-events: none;
    cursor: pointer;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--gradient);
    color: var(--light);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    min-height: 30px;
    height: 45%;
    
}
.slider__progress span{
    pointer-events: none;
}
.switch{
    width: 60px;
    height: 28px;
    background: var(--grey);
    margin: 30px auto 0;
    border-radius: 60px;
    position: relative;
    cursor: pointer;
}
.switch div{
    position: absolute;
    left: 52%;
    top: 0;
    width: 28px;
    height: 28px;
    border-radius: 28px;
    background: var(--gradient);
    transition: var(--transition);
}
.switch.off div{
    left: 0%;
    background: #666;
}
.selectbox__pointer{
    width: 18px;
    padding-left: 5px;
    cursor: pointer;
}
.mobile__search{
    display: none;
    width: 90%;
    margin: 30px auto 0;
    text-align: center;
}
.mobile__search-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mobile__search-container img{
    width: 18px;
}
.mobile__search button {
    border: 0;
    outline: 0;
    background:var(--grey);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.mobile__search input{
    border: 0;
    outline: 0;
    background:var(--grey);
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 14px;
}
.mobile__search-weather {
    margin-top: 20px;
    display: none;
}
.weather__icon {
    width: 170px;
    margin-top: 15px;
    background: var(--grey);
    padding: 20px;
    border-radius: 30px;
}
.weather__temp {
    margin-top:  20px;
}
.weather__city {
}
.weather__details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 20px
}
.weather__details-col {
    background: var(--grey);
    padding: 20px;
    border-radius: 30px;
}
.weather__details-col img{
    height: 79px;
}
.weather__humidity, .weather__wind {
    padding-top: 15px;
    color: #555;
}
.weather__humidity+p, .weather__wind+p{
    color: #555;
}
.mobile__search-error{
    text-align: left;
    margin: 10px 0 0 10px;
    display: none;
}




.none{
    display: none;
}
.block{
    display: block;
}

